# 4th Feb Assignment

# 1 solution:

In [1]:
# Program to sort the given list of tuples based on integer value using a lambda function:

data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# sort the list of tuples based on the second element of each tuple
data.sort(key=lambda x: x[1])

# print the sorted list of tuples
print(data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

# 2 solution:

In [2]:
# Program to find the squares of all the numbers in the given list of integers using lambda and map functions:

lst1 = [1,2,3,4,5,6,7,8,9,10]

list(map(lambda x: x**2, lst1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 3 solution:

In [3]:
# Program to convert the given list of integers into a tuple of strings using map and lambda functions:

lst2 = [1,2,3,4,5,6,7,8,9,10]

tuple(map(lambda x: str(x), lst2))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# 4 solution:

In [4]:
from functools import reduce

In [5]:
# Program using reduce function to compute the product of a list containing numbers from 1 to 25:

lst3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

reduce(lambda x,y: x*y, lst3)

15511210043330985984000000

# 5 solution:

In [6]:
# Program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function:

lst4 = [2,3,6,9,27,60,90,120,55,46]

list(filter(lambda x:x%2==0 and x%3==0, lst4))

[6, 60, 90, 120]

# 6 solution:

In [7]:
# Program to find palindromes in the given list of strings using lambda and filter functions:

lst5 = ['python','php','aba','radar','level']

list(filter(lambda x: x == x[::-1], lst5))

['php', 'aba', 'radar', 'level']